<div id="app" class="row">
  {{>sidebar}}

  <div id="content" class="col-10">
    
    <h1>Get count and the average stats of players grouped by their number of games played</h1>
    
    <div id="search-params">
      <h3>
        Search Parameters
      </h3>
      
      <!-- Form: don't forget to change action to appropriate -->
      <form method="POST" action="/query1-2" enctype='application/x-www-form-urlencoded' novalidate>
        <div class="input">
          <!-- Duplicate this for more inputs. Change id and name of input. -->
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Stats</label>
            <div class="col-sm-10">
              <select class="custom-select" name="stats">
                <option selected>Select Statistic</option>
                {{#each stats}}
                  <option value="{{this}}">{{this}}</option>
                {{/each}}
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Games Played Range (1 - 80)</label>
            <div class="form-inline col-10">
              <label class="sr-only" for="min"> Minimum</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Min</div>
                </div>
                <input type="text" class="form-control" id="min" name="min" placeholder="Minimum">
              </div>
    
              <label class="sr-only" for="max">Maximum</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Max</div>
                </div>
                <input type="text" class="form-control" id="max" name="max" placeholder="Maximum">
              </div>
            </div>
          </div>
  
          
          <!-- SUBMIT BUTTON NO NEED TO CHANGE -->
          <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
              <button type="submit" class='btn btn-success'>Render Report</button>
            </div>
          </div>
          
        </div>
      </form>

      <b>Time Elapsed: </b> {{time}}

    </div>
    
    <div id="table-holder">
      <!-- TODO: Change table headers to appropirate results' headers-->
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Games Played</th>
            <th>Number of Players</th>
            <th>Average of Statistic</th>
          </tr>
        </thead>
        <tbody id='tableBody'>
          {{#each result}}
            <tr><td>{{Games_Played}}</td><td>{{Count}}</td><td>{{Average_Stat}}</td></tr>
          {{/each}}
        </tbody>
      </table>
    </div>

  </div>
</div>